
@model Producto

<h1>EE producto se ha registrado Correctamente</h1>
<p>
    Se ha agregado el Producto @Model.Descripcion con codigo @Model.IDproducto
</p>


<a asp-action="Index">Ver listado de los objetos</a>
